#base{
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
    width: 1130px;
    height:400px;
    margin-left: 350px;
    border-radius: 20px;
    float:center;
}
/*---------------*/
body {
  background: linear-gradient(135deg, #1a1a1a, #333);
  color: white;
}
/*---------------*/
.cabecalho {
    background: linear-gradient(to right, #111, #444);    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 
        0 0 5px rgb(196, 67, 185),
        0 0 10px rgb(196, 67, 185),
        0 0 20px rgb(196, 67, 185),
        0 0 40px rgb(196, 67, 185),
        0 0 80px rgb(196, 67, 185);
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    border: 0px;
    width: 1900px;
    height: 100px;
}
/*---------------*/
.basetecla{
    width: 130px;
    height: 300px;
    background-color: rgb(0, 0, 0);  
    font-family: Engravers MT;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
/*---------------*/
.teclapretado{
    width: 30px;
    height: 150px;
    background-color: #000000;
    float: right;
}
/*---------------*/
.teclapretami{
    width: 30px;
    height: 150px;
    background-color: #000000;
    float: left;
}
/*---------------*/
.do {
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.do:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.re { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.re:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.mi { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.mi:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.fa { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.fa:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.so { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.so:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.la { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.la:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.ci { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.ci:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.du { 
    width: 130px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: width 1ms;
    transition: margin 1ms;   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.du:hover {  
    width: 120px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
}
/*---------------*/
.titulo {
    background-color: #000000;
    margin-left: 15px;
    font-family: Blackadder ITC;
    font-size: 97px;
    color: #ffffff;
    text-shadow: 
        0 0 5px rgb(196, 67, 185),
        0 0 10px rgb(196, 67, 185),
        0 0 20px rgb(196, 67, 185),
        0 0 40px rgb(196, 67, 185),
        0 0 80px rgb(196, 67, 185);
    width: 1100px;
    height: 80px;
    float: left;
}